services:

  # ==================================
  # shared services
  # ==================================

  user-service:
    build:
      context: ./user-service
    ports:
      - "${USER_SERVICE_PORT}:8001"
    environment:
      - USER_DB_HOST=${USER_DB_HOST}
      - USER_DB_NAME=${USER_DB_NAME}
      - USER_DB_USER=${USER_DB_USER}
      - USER_DB_PASS=${USER_DB_PASS}
      - USER_DB_PORT=${USER_DB_PORT}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - REDIS_HOST=${REDIS_HOST}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
    volumes:
      - ./user-service:/code
    depends_on:
      user-db:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - notify_network

  user-db:
    image: postgres:15-alpine
    hostname: user-db
    environment:
      - POSTGRES_DB=${USER_DB_NAME}
      - POSTGRES_USER=${USER_DB_USER}
      - POSTGRES_PASSWORD=${USER_DB_PASS}
    ports:
      - "5434:5432"
    volumes:
      - user_db_data:/var/lib/postgresql/data
    networks:
      - notify_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${USER_DB_USER} -d ${USER_DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASS}
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - notify_network

  redis:
    image: redis:latest
    hostname: redis
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - notify_network

volumes:
  user_db_data:
    driver: local

networks:
  notify_network:
    driver: bridge
